<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>getgitworking.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B4EB26832BCDD3C90036C25A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4EB26932BCDD3CC0036C25A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4EB269D2BCDD3CC0036C25A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
